@font-face {
    font-family: "Butler";
    src: url('../fonts/Butler/butler_Regular.otf') format('otf');
}

@font-face {
    font-family: "Butler";
    src: url('../fonts/Butler/butler_Bold.otf') format('otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Bebasneue';
    src: url('../fonts/Bebasneue/bebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Carosello';
    src: url('../fonts/Carosello/carosello-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AllerDisplay';
    src: url('../fonts/AllerDisplay/allerDisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Ptserif';
    src: url('../fonts/ptserif/ptserif-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic/LeagueGothic-Regular.otf') format('otf');
}